<h1>Student formulier (TD)</h1>
<form (ngSubmit)="onSubmit()" #studentForm="ngForm">
  <p>
    <mat-form-field>
      <input matInput placeholder="Voornaam" id="voornaam" required [(ngModel)]="model.voornaam" name="voornaam" minlength="6">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Naam" id="naam" required [(ngModel)]="model.naam" name="naam">
    </mat-form-field>
  </p>

  <p><button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid || submitted">
      Submit
    </button></p>
</form>
