<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p [ngClass]="colorClass">Op basis van string</p>
  <p [ngClass]="arrayClasses">Op basis van array</p>
  <p [ngClass]="{red: isRed, italic: true, bold: false}">Op basis van object</p>

  <p *ngFor="let color of rainbow" [ngStyle]="{ 'background-color': color, 'color': 'white'}">
    {{color}}
  </p>

  <div [ngSwitch]="number">
    <p *ngSwitchCase="'0'">Je koos voor 0.</p>
    <p *ngSwitchCase="'1'">Je koos voor 1.</p>
    <p *ngSwitchCase="2">Je koos voor 2.</p>
    <p *ngSwitchDefault>Je koos voor {{number}}.</p>
  </div>
</div>
